nav{
	background: #7D7B75;
	height: 4em;
	vertical-align: middle;
}

.nav-item{
	font-size: 20px;
	margin-top: .3em;
}

 nav a{
	color: #FCF8ED;
}

nav a:hover {
	color: #BAB7AF;
  }

.jumbotron {
	background-color: #E6E1D8;
	color: #7D7B75;
}

.jumbotron h1{
	font-size: 5em;
}

.jumbotron a{
	color: #7D7B75;
}

.jumbotron a:hover{
	color: #BDB9B1;
}

.fab{
	font-size: 3em;
	float: right;
	margin-left: 5px;
}

body{
	background-color:#FCF8ED;
}

.main{
	background-color: #FCF8ED;
}

.main h1{
	margin-bottom: 30px;
}
#selfpic{
	float: left;
    padding-right: 15px;
}

.about p{
	font-size: 20px;
	color: #7D7B75;
}

footer{
	color: #7D7B75;
	background-color: #E6E1D8;
	padding-top:20px;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.projectName h3{
	text-align: center;
}

.projectImg img {
	border-style: solid;
	border-color: #7D7B75;
	border-width: 2px;

}

.projectImg .col-4 {
	text-align: center;
}


.projectBtn{
	text-align: center;

}

button{
	margin: .5em;
}

.col-4 h5{
	text-align: right;
}

